<h2 style="text-align:center;"><i class="fa fa-pencil-square-o"></i> {{site.data.jobTypes[5].name}}</h2>
<br class="horizontal-separator" />
<div class="shortDescJob">
  <p>{{site.data.jobTypes[5].description}}</p>
</div>
<br class="horizontal-separator" />
<div class="descriptionText">
  <h3>What salary do you offer?</h3>
  <p>You will typically be an employee and paid according to the <a class="jobRef" target="_blank" href="http://oeffentlicher-dienst.info/">German public service pay-scale.</a> At the university, the state tariff <a href="http://oeffentlicher-dienst.info:80/tv-l/west/" class="jobRef" target="_blank">TV-L</a> applies; at Fraunhofer, the similar federal tariff <a class="jobRef" href="http://oeffentlicher-dienst.info:80/tvoed/bund/" target="_blank">TVöD-Bund</a> applies. Researchers will typically get an employment contract in the following groups of the pay scale:</p>
  <ul>
    <li>PhD students: group 13 (initially starting with 50% full-time equivalent; contracts with a higher workload, e.g., 65%, may be possible for jobs with a higher responsibility)</li>
    <li>Postdocs: group 13 (100% full-time equivalent) for junior postdocs; group 14 for senior postdocs with higher responsibility</li>
  </ul>
  <p>Within these groups, there are up to 5 “experience steps”. New PhD students or postdocs typically start on step 1. By default, you rise to step 2 after 1 year on step 1, to step 3 after 2 years on step 2, etc.</p>
  <p>Employees' salaries include a contribution to the social insurance; i.e. you enjoy full social benefits. The salaries are subject to taxation. The tax rate depends on various factors including your family status and membership in religious communities. These are typical figures for an unmarried person (as of 2015)</p>
  <ul>
    <li>starting PhD student at the University (50% TV-L 13 step 1): ~21,500 € per year gross, ~14,500 € per year net (i.e. ~1,220 € per month)</li>
    <li>senior PhD student with a higher responsibility (65% TV-L 13 step 3): ~32,700 € per year gross, ~20,000 € per year net (i.e. ~1,700 € per month)</li>
    <li>senior postdoc at Fraunhofer (100% TVöD-Bund 14 step 3): ~56,000 € per year gross, ~31,300 € per year net (i.e. ~2,610 € per month)</li>
  </ul>
  <p>Some PhD students and in exceptional cases also postdocs receive a scholarship. A typical PhD scholarship amounts to 1,468 € a month (neither subject to taxation nor to social insurance contributions, but you need to get your own health insurance for ~70 € a month).</p>
</div>
<br class="horizontal-separator" />
<div class="descriptionText">
  <h3>What is the cost of living in Bonn?</h3>
  <p>Sample figures for the monthly rent are 350 € for a room in a house share (WG), 600–800 € for apartments suitable for two persons, 800–1,000 € for a family. All figures given here assume unfurnished rooms; they include heating and water but neither electricity nor telecommunication.</p>
  <p>With an employment contract you can obtain a discounted public transport ticket for Bonn and its surroundings; this will cost around 45–60 € a month.</p>
</div>
<br class="horizontal-separator" />
