<div class="pagination">
  <div class="job-types">
    <a href="#" id="akad" class="{% if include.active == 'akadRat' %}active{% endif %} responsiveTabItem" onclick="akademischeJob()"><i class="fa fa-pencil-square-o margin-icon" aria-hidden="true"></i>
    {{site.data.jobTypes[0].name}}</a>
    <a href="#" id="postdoctoral" class="{% if include.active == 'postDoc' %}active{% endif %} responsiveTabItem" onclick="postdoctoralJob()"><i class="fa fa-user-circle-o margin-icon" aria-hidden="true"></i>
    {{site.data.jobTypes[1].name}}</a><br class="breakpoint-pagination"/><br class="breakpoint-pagination"/>
    <a href="#" id="phdpos" class="{% if include.active == 'researchAss' %}active{% endif %} responsiveTabItem" onclick="phdJobs()"><i class="fa fa-graduation-cap margin-icon" aria-hidden="true"></i>
    {{site.data.jobTypes[2].name}}</a>
    <a href="#" id="studentassistants" class="{% if include.active == 'studentAss' %}active{% endif %} responsiveTabItem" onclick="studentAssistantsJob()"><i class="fa fa-user margin-icon" aria-hidden="true"></i>
    {{site.data.jobTypes[3].name}}</a>
    <a href="#" id="envoirnmentjob" class="{% if include.active == 'envJob' %}active{% endif %} responsiveTabItem" onclick="jobEnvoirnment()"><i class="fa fa-building margin-icon" aria-hidden="true"></i>
    {{site.data.jobTypes[4].name}}</a>
    <a href="#" id="faqjob" class="{% if include.active == 'faqJob' %}active{% endif %} responsiveTabItem" onclick="jobFaq()"><i class="fa fa-question-circle margin-icon" aria-hidden="true"></i>
    {{site.data.jobTypes[5].name}}</a>
    <br/>
    <br/>
    <hr/>
  </div>
</div>
