<h2 style="text-align:center;"><i class="fa fa-user-circle-o"></i> {{site.data.jobTypes[1].name}}</h2>
<br class="horizontal-separator" />
<div class="shortDescJob">
  <p>{{site.data.jobTypes[1].description}}</p>
</div>
<br class="horizontal-separator" />
<div class="requirementsJob">
  <h3>Requirements</h3>
  <ul class="reuirementsList">
    <li>A completed PhD and Master degree in a relevant field (Computer Science or related).</li>
    <li>Proficiency in spoken and written English.</li>
  </ul>
</div>
<br class="horizontal-separator" />
<div class="experienceJob">
  <h3>Experience in “one of” (not necessarily more) the following areas:</h3>
  <ul>
    <li>Big Data, Machine Learning, Data Mining, Statistics, Mathematics</li>
    <li>Semantic Technologies and Linked Data, Knowledge Representation, Theoretical Computer Science</li>
    <li>Geospatial data modeling and analysis</li>
    <li>Natural language processing, in particular Question Answering</li>
  </ul>
</div>
<br class="horizontal-separator" />
<div class="expectJob">
  <h3>We Expect:</h3>
  <ul>
    <li>Keen interest in top level conference and journal publications</li>
    <li>Co-supervision of PhD, Master- and Bachelor thesis</li>
    <li>Interest in acquiring and running research and industry projects</li>
    <li>Experience in software development and project management</li>
    <li>Interest in transferring research results into practice and commercializing them</li>
  </ul>
</div>
<br class="horizontal-separator" />
<div class="offerJob">
  <h3>We offer:</h3>
  <ul>
    <li>You will work at one of the leading [1] German Universities and have the opportunity to build your own research team. The goal is to perform internationally leading research which can be applied in high impact use cases.</li>
    <li>You will enjoy a close collaboration with Fraunhofer IAIS [2] as a leading research institute for large scale machine learning and data mining.</li>
    <li>The payment will be between 50% and 100% TV-L 13 and the contract duration between 2 and 4 years depending on previous experience and involvement in projects.</li>
    <li>You will get financial support to attend related conferences and the possibility to obtain a discounted public transport ticket.</li>
  </ul>
</div>
<br class="horitzontal-separator" />
<div class="applicationProcess">
  <p>To apply, please send a mail to <a class="jobRef" href="mailto:SDA-applications@lists.iai.uni-bonn.de"  target="_top">SDA Applications</a> including a CV, a master certificate, a motivation letter including a short overview of previous research activities, two letters of recommendation and a writing sample (e.g. prior publication or master thesis excerpt). Applications are possible until all positions have been filled. Please do not send mails larger than 10MB.</p>
</div>
<br class="horizontal-separator">
<div class="equalJobOpp">
  <h3>The University of Bonn is an equal opportunities employer.</h3>
  <ul>
    <li><a class="jobRef" href="https://en.wikipedia.org/wiki/University_of_Bonn#Ranking" target="_blank">https://en.wikipedia.org/wiki/University_of_Bonn#Ranking</a></li>
    <li><a class="jobRef" href="{{site.fraunhoferHomePage}}" target="_blank">{{site.fraunhoferHomePage}}</a></li>
  </ul>
</div>
