<br class="horizontal-separator"/>
<div class="partner-title">
  <a href="{{include.href}}" target="_blank"> <h1>{{include.title}}</h1></a>
</div>
<div class="partner-item">
  <br class="horizontal-separator"/>
  <div class="partner-icon">
    <img style="padding:0px;" src="{{include.image}}" alt="{{iclude.title}}">
  </div>
  <div class="partner-detail">
    <div class="partner-description">
      {{include.description}}
    </div>
  </div>
  <div class="partnerProjects post-content">
    {% for partners in include.projectList %}
      {% capture partnerNameinArray %}{{partners.partnername}}{% endcapture%}
      {% if partnerNameinArray == include.name %}
        {% assign url= partners.project | remove: "http://sda.tech/" %}
        <div class="chip">
          <img src="{{partners.image}}" alt="Project" width="96" height="96">
          <a href="../{{url}}">{{partners.name}}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <br class="horizontal-separator"/>
</div>
<!-- NO RULE FOR LAST ELEMENT -->
{% if include.last != 1 %}
  <hr />
{% endif %}
