<br class="horizontal-separator"/>
<div class="partner-title">
  <a href="{{include.href}}" target="_blank"> <h1>{{include.title}}</h1></a>
</div>
<div class="partner-item">
  <br class="horizontal-separator"/>
  <div class="partner-icon">
    <img style="padding:0px;" src="{{include.image}}" alt="{{iclude.title}}">
  </div>
  <div class="partner-detail">
    <div class="partner-description">
      {{include.description}}
    </div>
  </div>
  <br class="horizontal-separator"/>
</div>
<!-- NO RULE FOR LAST ELEMENT -->
{% if include.last != 1 %}
  <hr />
{% endif %}
