<script>
  function allPartners() {
    document.getElementById('allPartners').style.display = 'block';
    document.getElementById('allPar').classList.add('active');
    document.getElementById('industryPartners').style.display = 'none';
    document.getElementById('industryPar').classList.remove('active');
    document.getElementById('academicPartners').style.display = 'none';
    document.getElementById('academicPar').classList.remove('active');
  }

  function industryPartners() {
    document.getElementById('allPartners').style.display = 'none';
    document.getElementById('allPar').classList.remove('active');
    document.getElementById('industryPartners').style.display = 'block';
    document.getElementById('industryPar').classList.add('active');
    document.getElementById('academicPartners').style.display = 'none';
    document.getElementById('academicPar').classList.remove('active');
  }

  function academicPartners() {
    document.getElementById('allPartners').style.display = 'none';
    document.getElementById('allPar').classList.remove('active');
    document.getElementById('industryPartners').style.display = 'none';
    document.getElementById('industryPar').classList.remove('active');
    document.getElementById('academicPartners').style.display = 'block';
    document.getElementById('academicPar').classList.add('active');
  }
</script>
