<script>
  function activeOpenThesis() {
    document.getElementById('finishedThesis').style.display = 'none';
    document.getElementById('end').classList.remove('active');
    document.getElementById('allThesis').style.display = 'none';
    document.getElementById('all').classList.remove('active');
    document.getElementById('openThesis').style.display = 'block';
    document.getElementById('start').classList.add('active');
    document.getElementById('faqThesisContent').style.display = 'none';
    document.getElementById('faqThesis').classList.remove('active');
  }

  function activeFinishedThesis() {
    document.getElementById('openThesis').style.display = 'none';
    document.getElementById('start').classList.remove('active');
    document.getElementById('allThesis').style.display = 'none';
    document.getElementById('all').classList.remove('active');
    document.getElementById('finishedThesis').style.display = 'block';
    document.getElementById('end').classList.add('active');
    document.getElementById('faqThesisContent').style.display = 'none';
    document.getElementById('faqThesis').classList.remove('active');
  }

  function allThesisItems() {
    document.getElementById('openThesis').style.display = 'none';
    document.getElementById('start').classList.remove('active');
    document.getElementById('allThesis').style.display = 'block';
    document.getElementById('all').classList.add('active');
    document.getElementById('finishedThesis').style.display = 'none';
    document.getElementById('end').classList.remove('active');
    document.getElementById('faqThesisContent').style.display = 'none';
    document.getElementById('faqThesis').classList.remove('active');
  }

  function faqThesisToggle() {
    document.getElementById('openThesis').style.display = 'none';
    document.getElementById('start').classList.remove('active');
    document.getElementById('allThesis').style.display = 'none';
    document.getElementById('all').classList.remove('active');
    document.getElementById('finishedThesis').style.display = 'none';
    document.getElementById('end').classList.remove('active');
    document.getElementById('faqThesisContent').style.display = 'block';
    document.getElementById('faqThesis').classList.add('active');
  }
</script>
