<script>
function changeActivePersons(name) {
  clearAllTypes();
  clearAllTabs();

  if (name == "{{site.data.peopleTypes[0].name}}") {
    document.getElementById('Prof').style.display = 'inline-block';
    document.getElementById('Professors').classList.add('active');
  } else if (name == "{{site.data.peopleTypes[1].name}}") {
    document.getElementById('SeniorResch').style.display = 'inline-block';
    document.getElementById('SeniorResearchers').classList.add('active');
  } else if (name == "{{site.data.peopleTypes[2].name}}") {
    document.getElementById('Phd').style.display = 'inline-block';
    document.getElementById('PhDStudents').classList.add('active');
  } else if (name == "{{site.data.peopleTypes[3].name}}") {
    document.getElementById('AR').style.display = 'inline-block';
    document.getElementById('Associatedresearches').classList.add('active');
  } else if (name == "{{site.data.peopleTypes[4].name}}") {
    document.getElementById('SA').style.display = 'inline-block';
    document.getElementById('StudentAssistants').classList.add('active');
  } else if (name == "{{site.data.peopleTypes[5].name}}") {
    document.getElementById('Int').style.display = 'inline-block';
    document.getElementById('Interns').classList.add('active');
  } else if (name == "{{site.data.peopleTypes[6].name}}") {
    document.getElementById('Former').style.display = 'inline-block';
    document.getElementById('FormerMembers').classList.add('active');
  } else
    console.log("Invalid People Type Name");
    console.log(name);
}

function clearAllTypes() {
  document.getElementById('Prof').style.display = 'none';
  document.getElementById('SeniorResch').style.display = 'none';
  document.getElementById('Phd').style.display = 'none';
  document.getElementById('AR').style.display = 'none';
  document.getElementById('SA').style.display = 'none';
  document.getElementById('Int').style.display = 'none';
  document.getElementById('Former').style.display = 'none';
}

function clearAllTabs() {
  document.getElementById('Professors').classList.remove('active');
  document.getElementById('SeniorResearchers').classList.remove('active');
  document.getElementById('PhDStudents').classList.remove('active');
  document.getElementById('Associatedresearches').classList.remove('active');
  document.getElementById('StudentAssistants').classList.remove('active');
  document.getElementById('Interns').classList.remove('active');
  document.getElementById('FormerMembers').classList.remove('active');
}
</script>
