---
rdf_prefix_path: simpsons.pref
layout: default
---

<article class="post">


  <script>
    function changeActiveGroups(groups)
    {

    }

    function clearAllGroupTypes()
    {

    }

    function clearAllGroupTabs()
    {

    }
  </script>

  <div class="pagination">
    {% for group in site.data.groupTypes %}
      {% assign g = group.name %}
      {% if site.activeGroup == g %}
        <a href="#" id="{{group.name | remove: " " }}" class="active" onclick="changeActiveGroups('{{group.name}}')"><i class="fa fa-bar-chart"></i>
 {{group.name}}</a>
      {% else %}
        <a href="#" id="{{group.name | remove: " " }}"
           onclick="changeActiveGroups('{{group.name}}')">
           {% if group.name == site.data.groupTypes[1].name %}
            <i class="fa fa-search"></i>
           {% elsif group.name == site.data.groupTypes[2].name %}
            <i class="fa fa-cube"></i>
           {% elsif group.name == site.data.groupTypes[3].name %}
            <i class="fa fa-line-chart"></i>
           {% elsif group.name == site.data.groupTypes[4].name %}
            <i class="fa fa-cogs"></i>
           {% elsif group.name == site.data.groupTypes[5].name %}
            <i class="fa fa-bar-chart"></i>
           {% elsif group.name == site.data.groupTypes[6].name %}
            <i class="fa fa-bar-chart"></i>
           {% else %}
            <i class="fa fa-bar-chart"></i>
           {% endif %}
           {{group.name}}</a>
      {% endif%}
      {% if group.name == site.data.groupTypes[3].name %}
        <br/><br/>
      {% endif%}
    {% endfor %}
    <!-- <a href="#" class="active">2016</a> -->
    <br/>
    <br/>
    <hr>
    {% include groups.html %}

  </div>

</article>
