---
rdf_prefix_path: simpsons.pref
layout: default
---
{% capture query %}
    SELECT ?projects ?projectname WHERE{
        <{{page.rdf}}> ex:project ?projects .
        ?projects rdfs:label ?projectname .
}
{% endcapture %}
{% assign resultset = page.rdf | sparql_query: query %}
{% capture query %}
    SELECT ?person ?personname WHERE{
        <{{page.rdf}}> foaf:Person ?person .
        ?person foaf:name ?personname .
}
{% endcapture %}
{% assign resultset2 = page.rdf | sparql_query: query %}
<!--Presentation of the GROUP Items-->
<article class="post">
  <div class="pagination">
    <br class="horizontal-separator"/>
    <h1><i class="{{ page.rdf | rdf_property: 'ex:imageclass'}}"></i> {{ page.rdf | rdf_property: 'rdfs:label'}}</h1>
    <br class="horizontal-separator2" />
    <p>{{ page.rdf | rdf_property: 'ex:longdescription'}}</p>
    <br class="horizontal-separator"/>
    <h2>Projects:</h2>
    {% for result in resultset %}
      <p>{{result.projectname}}</p>
    {% endfor %}
    <br class="horizontal-separator" />
    <h2>Members:</h2>
    {% for result in resultset2 %}
      <p>{{result.personname}}</p>
    {% endfor %}
  </div>
</div>
