---
rdf_prefix_path: simpsons.pref
layout: default
---
<div class="home">


  <!-- Main informative content -->
  <article class="post">

    <header class="post-header">
      <h1 class="post-title">{{ site.title | escape }}</h1>
    </header>
    <br class="horizontal-separator"/>

    {% capture query %}
    SELECT ?Person ?name ?leader WHERE{
        ?Person a foaf:Person .
        ?Person foaf:name ?name .
        ?Person ex:leader ?leader .
    }
    {% endcapture %}
    {% assign resultset = page.rdf | sparql_query: query %}
    <div class="post-content">
      The <b>{{site.titleWithAcronym}}</b> research group, led by {% for result in resultset %} {{result.name}} {% endfor %}, has members from the [Institute for Computer Science](https://www.iai.uni-bonn.de/en) at the [University of Bonn](https://www.uni-bonn.de/), the [Fraunhofer Institute for Intelligent Analysis and Information Systems (IAIS)](https://www.iais.fraunhofer.de/) and the [Institute for Applied Computer Science Leipzig](http://infai.org/de/Aktuelles). At its core, the group investigates machine learning techniques ("analytics") using structured knowledge ("smart data"). The group aims at covering the full spectrum of research including theoretical foundations, algorithms, prototypes and industrial applications.
    </div>

    <br class="horizontal-separator"/>
  </article>
  <!--  -->

  <!--Heat Map Area for representing research areas.  -->
  <article class="post">
    <div id="basic">
    </div>
    <div class="post-content quote-alignment">
      <q>Our researchers and developers are working continoulsy on emerging technolgies and research as shown above.</q>
    </div>
  </article>
  <!--  -->

  <!-- Icon representation of Group and the Activities -->
  <article class="post content-container-separation">
    <div class="col1">
      <div class="information-element-icon">
        <i class="fa fa-bar-chart fa-5x"></i>
      </div>
      <div>
        <h3>{{site.data.groupTypes[0].name}}</h3>
      </div>
      <div class="col-content">
        <h4>{{site.data.groupTypes[0].description}}</h4>
      </div>
    </div>
    <div class="col2">
      <div class="information-element-icon">
        <i class="fa fa-search fa-5x"></i>
      </div>
      <div>
        <h3>{{site.data.groupTypes[1].name}}</h3>
      </div>
      <div class="col-content">
        <h4>{{site.data.groupTypes[1].description}}</h4>
      </div>
    </div>
    <div class="col3">
      <div class="information-element-icon">
        <i class="fa fa-cube fa-5x"></i>
      </div>
      <div>
        <h3>{{site.data.groupTypes[2].name}}</h3>
      </div>
      <div class="col-content">
        <h4>{{site.data.groupTypes[2].description}}</h4>
      </div>
    </div>
    <div class="col4">
      <div class="information-element-icon">
        <i class="fa fa-line-chart fa-5x"></i>
      </div>
      <div>
        <h3>{{site.data.groupTypes[3].name}}</h3>
      </div>
      <div class="col-content">
        <h4>{{site.data.groupTypes[3].description}}</h4>
      </div>
    </div>
    <div class="col5">
      <div class="information-element-icon">
        <i class="fa fa-cogs fa-5x"></i>
      </div>
      <div>
        <h3>{{site.data.groupTypes[4].name}}</h3>
      </div>
      <div class="col-content">
        <h4>{{site.data.groupTypes[4].description}}</h4>
      </div>
    </div>
    <div class="col6">
      <div class="information-element-icon">
        <i class="fa fa-bar-chart fa-5x"></i>
      </div>
      <div>
        <h3>{{site.data.groupTypes[5].name}}</h3>
      </div>
      <div class="col-content">
        <h4>{{site.data.groupTypes[5].description}}</h4>
      </div>
    </div>
  </article>
  <!--  -->


  <br class="horizontal-separator2"/>

  <!--Blog posts excerpt: List of lates three or four blog posts  -->
  <article class="post">
    <div class="twoCol1">
      dsads
    </div>
    <div class="twoCol2">
      <div class='jekyll-twitter-plugin'>
        {% twitter https://twitter.com/sda_research maxwidth=500 align=right link-color=#0896fe limit=3 %}
      </div>
    </div>
  </article>
  <!--  -->

  <br class="horizontal-separator"/>

  <!--twitter handler for SDA research -->
  <article class="sda-research">

  </article>


  <!-- <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
