---
rdf_prefix_path: simpsons.pref
layout: default
---
<article class="post">
  <div class="content-people">
    <h1 class="text-uppercase">{{ page.rdf | rdf_property: 'foaf:name' }}</h1>
    <br class="horizontal-separator" />
    <h3>{{ page.rdf | rdf_property: 'foaf:status'}}</h3>
    <h3>Profiles: <a></a></h3>
    <h3>{{ page.rdf | rdf_property: 'ex:room'}}</h3>
    <h4>{{page.rdf | rdf_property: 'foaf:mailto'}}</h4>
    <!--Querry to GET all the research interests of the person   -->
    {% capture query %}
        SELECT ?researchinterests ?projectname WHERE{
            <{{page.rdf}}> ex:researchinterests ?researchinterests .
            ?researchinterests rdfs:label ?projectname .
    }
    {% endcapture %}
    {% assign resultset = page.rdf | sparql_query: query %}
    <!--Displaying all the reseach interests of the person x  -->
    {% include researchInterests.html result=resultset %}

    <!--Querry to GET all the projects of the person   -->
    {% capture query %}
        SELECT ?project ?projectname WHERE{
            <{{page.rdf}}> ex:project ?project .
            ?project rdfs:label ?projectname .
    }
    {% endcapture %}
    {% assign resultset2 = page.rdf | sparql_query: query %}
    <!--Displaying all the reseach interests of the person x  -->
    {% include projects.html result=resultset2 %}


  </div>
</article>
