---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

</article>

<div class="pagination">
  <a href="#">2017</a>
  <a href="#" class="active">2016</a>
  <a href="#">2015</a>
</div>


<div class="post-content">
  <h3>2017</h3>
  <ol>
    <li class="list-item">LOG4MEX: A Library to Export Machine Learning Experiments by Diego Esteves, Diego Moussallem, Tommaso Soru, Ciro Baron Neto, Jens Lehmann, Axel-Cyrille Ngonga Ngomo and Julio Cesar Duarte in The International Conference on Web Intelligence (WI2017), Leipzig, Germany 23th – 26th of August 2017.</li>
    <li class="list-item">LOG4MEX: A Library to Export Machine Learning Experiments by Diego Esteves, Diego Moussallem, Tommaso Soru, Ciro Baron Neto, Jens Lehmann, Axel-Cyrille Ngonga Ngomo and Julio Cesar Duarte in The International Conference on Web Intelligence (WI2017), Leipzig, Germany 23th – 26th of August 2017.</li>
    <li class="list-item">LOG4MEX: A Library to Export Machine Learning Experiments by Diego Esteves, Diego Moussallem, Tommaso Soru, Ciro Baron Neto, Jens Lehmann, Axel-Cyrille Ngonga Ngomo and Julio Cesar Duarte in The International Conference on Web Intelligence (WI2017), Leipzig, Germany 23th – 26th of August 2017.</li>
  </ol>

</div>
