---
rdf_prefix_path: simpsons.pref
layout: default
---
<div class="pagination">
  <table id="pubTable" class="display"></table>
<!-- TODO: {title}: scenario in BIB tex probably can contribute to the repo, pointer: bibdata.tittle for all the var types of publication -->
  <pre id="bibtex">
    @InProceedings{	  LytraEtAl:WDAqua16,
    author	= {Ioanna Lytra and Maria-Esther Vidal and Christoph Lange
  		  and S{\"o}ren Auer and Elena Demidova},
    speaker	= {Ioanna Lytra},
    pubs		= {clange,vidal,ilytra},
    file		= {https://github.com/EIS-Bonn/Papers/raw/master/2016/ESWC_Project_Networking_WDAqua/paper_10.pdf},
    crossref	= {eswc16pn},
    title		= { Answering Questions using Web Data}
  }

  @InProceedings{	  LytraEtAl:WDAqua17,
    author	= {Ioanna Lytra and Maria-Esther Vidal and Christoph Lange
  		  and S{\"o}ren Auer},
    speaker	= {Ioanna Lytra},
    pubs		= {clange,vidal,ilytra},
    file		= {https://github.com/EIS-Bonn/Papers/raw/master/2017/WDAquaEU_Project_Networking_ESWC17/eswc2017eunw_paper_14.pdf},
    crossref	= {eswc17pn},
    title		= {Answering Questions using Web Data}
  }

  @Misc{		  krextor:base,
    author	= {Christoph Lange and others},
    key		= {Krextor},
    month		= jan,
    title		= {Krextor -- The {KWARC} {RDF} Extractor},
    url		= {https://github.com/EIS-Bonn/krextor/},
    year		= 2016
  }

  @Misc{		  Lange:IDS-DMA16,
    author	= {Christoph Lange},
    date		= {2016-11-03},
    keywords	= {invited-talk},
    note		= {Keynote at the public kick-off of the Data Market Austria
  		  project},
    pubs		= {clange},
    title		= {Industrial Data Space -- Digitale Souver{\"a}nit{\"a}t
  		  {\"u}ber Daten},
    venue		= {Vienna, Austria},
    year		= 2016
  }

  @InProceedings{	  ICSC:Grangel-Gonzalez16,
  author	= {Irl{\'{a}}n Grangel{-}Gonz{\'{a}}lez and Lavdim Halilaj
		  and G{\"{o}}khan Coskun and S{\"{o}}ren Auer and Diego
		  Collarana and Michael Hoffmeister},
  title		= {Towards a Semantic Administrative Shell for Industry 4.0
		  Components},
  booktitle	= {Tenth {IEEE} International Conference on Semantic
		  Computing, {ICSC} 2016, Laguna Hills, CA, USA, February
		  4-6, 2016},
  pages		= {230--237},
  year		= {2016},
  pdf		= {https://github.com/EIS-Bonn/Papers/raw/master/2016/IEEE_ICSC_TowardsASemanticShellForI40/ICSC_2016_paper_89.pdf},
  crossref	= {DBLP:conf/semco/2016},
  url		= {https://www.researchgate.net/publication/289649324_Towards_a_Semantic_Administrative_Shell_for_Industry_40_Components},
  doi		= {10.1109/ICSC.2016.58},
  pubs		= {grangel,halilaj,collarana}
}

@InProceedings{	  EFTA:Grangel-Gonzalez16,
  author	= {Irl{\'{a}}n Grangel{-}Gonz{\'{a}}lez and Lavdim Halilaj
		  and S{\"{o}}ren Auer and Steffen Lohmann and Christoph
		  Lange and Diego Collarana},
  title		= {An RDF-based approach for implementing industry 4.0
		  components with Administration Shells},
  booktitle	= {21st {IEEE} International Conference on Emerging
		  Technologies and Factory Automation, {ETFA} 2016, Berlin,
		  Germany, September 6-9, 2016},
  pages		= {1--8},
  year		= {2016},
  publisher	= {IEEE},
  file		= {https://github.com/EIS-Bonn/Papers/raw/master/2016/IEEE_ETFA_TowardsASemanticShellForI40/ETFA2016_paper_121_preprint.pdf},
  pdf		= {https://github.com/EIS-Bonn/Papers/raw/master/2016/IEEE_ETFA_TowardsASemanticShellForI40/ETFA2016_paper_121_preprint.pdf},
  url		= {https://www.researchgate.net/publication/301772095_An_RDF-based_Approach_for_Implementing_Industry_40_Components_with_Administration_Shells},
  pubs		= {grangel,halilaj,collarana,clange}
}

@InProceedings{	  GHALLC:I40AdminShell16,
  author	= {Irl{\'a}n Grangel-Gonz{\'a}lez and Lavdim Halilaj and
		  S{\"o}ren Auer and Steffen Lohmann and Christoph Lange and
		  Diego Collarana},
  title		= {An {RDF}-based Approach for Implementing {Industry}~4.0
		  Components with Administration Shells},
  eventtitle	= {21\textsuperscript{st} IEEE International Conference on
		  Emerging Technologies and Factory Automation},
  eventtitleaddon={ETFA},
  eventdate	= {2016-09-06/2016-09-09},
  venue		= {Berlin, Germany},
  keywords	= {conference},
  url		= {https://www.researchgate.net/publication/301772095_An_RDF-based_Approach_for_Implementing_Industry_40_Components_with_Administration_Shells},
  publisher	= {IEEE},
  year		= 2016
}

@InProceedings{	  GrangelEtAl:Alligator16,
  author	= {Irl{\'{a}}n Grangel{-}Gonz{\'{a}}lez and Diego Collarana
		  and Lavdim Halilaj and Steffen Lohmann and Christoph Lange
		  and Maria{-}Esther Vidal and S{\"{o}}ren Auer},
  title		= {Alligator: {A} Deductive Approach for the Integration of
		  Industry 4.0 Standards},
  crossref	= {ekaw2016},
  pages		= {272--287},
  pubs		= {vidal},
  url		= {https://www.researchgate.net/publication/305406366_Alligator_A_Deductive_Approach_for_the_Integration_of_Industry_40_Standards}
}

@InProceedings{	  EKAW:Grangel-Gonzalez16,
  author	= {Irl{\'{a}}n Grangel{-}Gonz{\'{a}}lez and Diego Collarana
		  and Lavdim Halilaj and Steffen Lohmann and Christoph Lange
		  and Maria{-}Esther Vidal and S{\"{o}}ren Auer},
  title		= {Alligator: {A} Deductive Approach for the Integration of
		  Industry 4.0 Standards},
  booktitle	= {Knowledge Engineering and Knowledge Management - 20th
		  International Conference, {EKAW} 2016, Bologna, Italy,
		  November 19-23, 2016, Proceedings},
  pages		= {272--287},
  vgwortseiten	= 27,
  year		= {2016},
  pdf		= {https://github.com/EIS-Bonn/Papers/raw/master/2016/EKAW_Integration_ModelforI40Standards/paper.pdf},
  file		= {https://github.com/EIS-Bonn/Papers/raw/master/2016/EKAW_Integration_ModelforI40Standards/paper.pdf},
  url		= {https://www.researchgate.net/publication/305406366_Alligator_A_Deductive_Approach_for_the_Integration_of_Industry_40_Standards},
  pubs		= {grangel,collarana,halilaj,clange,vidal}
}

@InProceedings{	  galkin2016icsc,
  author	= {Galkin, Michael and Auer, S{\"o}ren and Scerri, Simon},
  crossref	= {icsc2016},
  pages		= {242--245},
  pubs		= {mgalkin, auer, scerri},
  date-added	= {2016-04-18 20:56:07 +0000},
  date-modified	= {2016-04-18 20:57:23 +0000},
  title		= {Integration Strategies for Enterprise Knowledge Graphs},
  booktitle	= {ICSC},
  year		= {2016}
}

@InProceedings{	  galkin2016ekgs,
  author	= {Michael Galkin and S{\"{o}}ren Auer and Simon Scerri},
  booktitle	= {Web Intelligence 2016},
  numpages	= {6},
  title		= {Enterprise Knowledge Graphs: A Backbone of Linked
		  Enterprise Data},
  year		= {2016},
  publisher	= {IEEE},
  pubs		= {mgalkin,auer,scerri},
  file		= {https://github.com/EIS-Bonn/Papers/raw/master/2016/Web%20Intelligence_EKG/submitted.pdf},
  doi		= {10.1109/WI.2016.82}
}

@InProceedings{	  Frommhold:2016:TVA:2993318.2993327,
  author	= {Frommhold, Marvin and Piris, Rub{\'e}n Navarro and Arndt,
		  Natanael and Tramp, Sebastian and Petersen, Niklas and
		  Martin, Michael},
  title		= {Towards Versioning of Arbitrary RDF Data},
  booktitle	= {Proceedings of the 12th International Conference on
		  Semantic Systems},
  series	= {SEMANTiCS 2016},
  year		= {2016},
  isbn		= {978-1-4503-4752-5},
  location	= {Leipzig, Germany},
  pages		= {33--40},
  numpages	= {8},
  url		= {http://doi.acm.org/10.1145/2993318.2993327},
  doi		= {10.1145/2993318.2993327},
  acmid		= {2993327},
  publisher	= {ACM},
  address	= {New York, NY, USA},
  keywords	= {Blank Node, Hashing, RDF, RDF Quad, Versioning}
}

@InProceedings{	  frommhold-m-pubsub-2016,
  added-at	= {2017-01-19T17:05:35.000+0100},
  author	= {Frommhold, Marvin and Arndt, Natanael and Tramp, Sebastian
		  and Petersen, Niklas},
  biburl	= {https://www.bibsonomy.org/bibtex/212f9a15e107b422d7df136b518bf2035/aksw},
  booktitle	= {Proceedings of the Workshop on Linked Data on the Web
		  co-located with the 25th International World Wide Web
		  Conference (WWW 2016)},
  interhash	= {d5ab8379abf1dff9d82df701d4b7f03e},
  intrahash	= {12f9a15e107b422d7df136b518bf2035},
  keywords	= {2016 arndt es frommhold group_aksw leds lucid tramp},
  timestamp	= {2017-01-19T17:05:35.000+0100},
  title		= {Publish and {S}ubscribe for {RDF} in {E}nterprise {V}alue
		  {N}etworks},
  url		= {http://events.linkeddata.org/ldow2016/papers/LDOW2016_paper_05.pdf},
  year		= {2016}
}

@TechReport{	  w3c:dwbp,
  crossref	= {w3c:WD-dwbp-20160112}
}

@TechReport{	  w3c:WD-dwbp-20160112,
  author	= {Farias L{\'o}scio, Bernadette and Caroline Burle and
		  Newton Calegari},
  date		= {2016-01-12},
  institution	= {World Wide Web Consortium ({W3C})},
  month		= jan,
  title		= {Data on the Web Best Practices},
  type		= {Working Draft},
  url		= {http://www.w3.org/TR/dwbp/},
  year		= 2016,
  bdsk-url-1	= {http://www.w3.org/TR/dwbp/}
}

@article{bothrapid,
  title={Rapid Engineering of QA systems using the light-weight Qanary Architecture},
  author={Both, Andreas and Singh, Kuldeep and Diefenbach, Dennis and Lytra, Ioanna},
  crossref = {icwe2017},
  url = {https://www.researchgate.net/profile/Kuldeep_Singh86/publication/315859644_Rapid_Engineering_of_QA_systems_using_the_light-weight_Qanary_Architecture/links/58ebe9484585153b60c98134/Rapid-Engineering-of-QA-systems-using-the-light-weight-Qanary-Architecture.pdf}
}

@article{SadeghiElAl:OSCOSS17,
  author = {Afshin Sadeghi and Johannes Wilm and Philipp Mayr and Christoph Lange},
  title = {Opening Scholarly Communication in Social Sciences by Connecting Collaborative Authoring to Peer Review},
  date = {2017-05-06},
  year = 2017,
  journal = {Information. Wissenschaft \& Praxis},
  volume = 68,
  number = {2--3},
  pages = {163--170},
  doi = {10.1515/iwp-2017-0030},
  publisher = {De Gruyter},
	Eprint = {1703.04428},
	eprintclass = {cs.DL},
	eprinttype = {arxiv},
        pubs = {clange, sadeghi},
        file = {http://arxiv.org/pdf/1703.04428},
}


@InProceedings{	  Mousavi2016SEMANTicS,
  author	= {Najmeh Mousavi Nejad and Simon Scerri and S{\"{o}}ren Auer
		  and Elisa M. Sibarani},
  crossref	= {SEMANTiCS2016},
  numpages	= {8},
  title		= {EULAide: Interpretation of End-User License Agreements
		  using Ontology-Based Information Extraction},
  url		= {https://www.researchgate.net/publication/304781565_EULAide_Interpretation_of_End-User_License_Agreements_using_Ontology-Based_Information_Extraction},
  year		= {2016},
  file		= {https://github.com/EIS-Bonn/Papers/raw/master/2016/SEMANTiCS_OBIEforEULA/CameraReady.pdf},
  bdsk-url-1	= {https://www.researchgate.net/publication/304781565_EULAide_Interpretation_of_End-User_License_Agreements_using_Ontology-Based_Information_Extraction}
}

@InProceedings{	  BothEtAl:Qanary16,
  author	= {Andreas Both and Dennis Diefenbach and Kuldeep Singh and
		  Saeedeh Shekarpour and Didier Cherix and Christoph Lange},
  crossref	= {eswc2016},
  pubs		= {clange},
  file		= {https://github.com/EIS-Bonn/Papers/raw/master/2016/ESWC_Qanary_Open_QA_Vocab/final.pdf},
  title		= {A Methodology for Vocabulary-driven Open
		  Question Answering Systems},
  pages		= {625--641},
  vgwortseiten	= 31
}

@Article{	  BizerDIV16,
  author	= {Christian Bizer and Luna Dong and Ihab Ilyas and
		  Maria{-}Esther Vidal},
  title		= {Editorial: Special Issue on Web Data Quality},
  journal	= {J. Data and Information Quality},
  volume	= {8},
  number	= {1},
  pages		= {1:1--1:3},
  year		= {2016},
  pubs		= {vidal},
  url		= {http://dl.acm.org/citation.cfm?id=3005395}
}

@InProceedings{	  attardHICSS2016,
  author	= {Judie Attard and Fabrizio Orlandi and S{\"{o}}ren Auer},
  title		= {Value Creation on Open Government Data},
  booktitle	= {49th Hawaii International Conference on System Sciences,
		  {HICSS} 2016, Kauai, HI, USA, January 5-8, 2016},
  pages		= {2605--2614},
  year		= {2016},
  crossref	= {DBLP:conf/hicss/2016},
  url		= {http://dx.doi.org/10.1109/HICSS.2016.326},
  doi		= {10.1109/HICSS.2016.326},
  timestamp	= {Tue, 05 Apr 2016 17:29:12 +0200},
  biburl	= {http://dblp.uni-trier.de/rec/bib/conf/hicss/AttardOA16},
  bibsource	= {dblp computer science bibliography, http://dblp.org},
  publisher	= {IEEE},
  pubs		= {attard,orlandi,auer},
  file		= {https://github.com/EIS-Bonn/Papers/raw/master/2015/HICSS_Gov_Data_Value_Creation/camera_ready.pdf}
}

@InProceedings{	  AVLPL:OA-LOD:2016,
  author	= {Giorgos Alexiou and Sahar Vahdati and Christoph Lange and
		  George Papastefanatos and Steffen Lohmann},
  crossref	= {SAVE-SD2016},
  speaker	= {Sahar Vahdati},
  pubs		= {clange},
  pages         = {45--50},
  file		= {https://github.com/EIS-Bonn/Papers/raw/master/2016/SAVE-SD-Interlinking/paper/index.pdf},
  title		= {OpenAIRE LOD services: Scholarly Communication Data as
		  Linked Data},
  funded-by-name= {OpenAIRE2020},
  funded-by-number={643410}
}

@InProceedings{	  VahdatiLangeAuer:OCWObservatory,
  acceptancerate= {27},
  acceptanceratecomment={Paper Acceptance Rate 20 of 74 submissions, 27%;
		  Overall Acceptance Rate 80 of 250 submissions, 32%},
  author	= {Sahar Vahdati and Christoph Lange and S{\"o}ren Auer},
  speaker	= {Sahar Vahdati},
  booktitle	= {Learning Analytics and Knowledge},
  eventdate	= {2015-03-16/2015-03-20},
  eventtitle	= {LAK'15, 5\textsuperscript{th} International Conference},
  keywords	= {conference},
  venue		= {Poughkeepsie, NY, USA},
  pages		= {73--82},
  pubs		= {clange},
  publisher	= {ACM},
  title		= {OpenCourseWare Observatory -- Does the Quality of
		  OpenCourseWare Live up to its Promise?},
  url		= {http://dx.doi.org/10.5281/zenodo.14756},
  file		= {https://github.com/EIS-Bonn/Papers/raw/master/2014/OpenCourseWare/camera-ready.pdf},
  year		= 2015,
  date		= {2015-03-16},
  bdsk-url-1	= {http://dx.doi.org/10.5281/zenodo.14756},
  funded-by-name= {OpenAIRE2020},
  funded-by-number={643410}
}

@InProceedings{	  CKLR:SASI-VW15,
  author	= {Colin Rowat and Marco B. Caminati and Manfred Kerber and
		  Christoph Lange},
  booktitle	= {Optimal Control and Dynamic Games},
  editor	= {G. Feichtinger and J. L. Haunschmid and G. Tragler and V.
		  M. Veliov},
  eventdate	= {2015-05-13/2015-05-16},
  eventtitle	= {13\textsuperscript{th} Viennese Workshop},
  pubs		= {projects/formare,clange},
  file		= {https://papers.ssrn.com/sol3/Delivery.cfm/SSRN_ID2580331_code374939.pdf?abstractid=2580331&mirid=1&type=2},
  title		= {Sound Auction Specification and Implementation},
  venue		= {Vienna, Austria},
  year		= {2015}
}

@InProceedings{	  LangeEtAl:WDAqua15,
  file		= {http://arxiv.org/pdf/1506.04094},
  pubs		= {clange},
  author	= {Christoph Lange and Saeedeh Shekarpour and S{\"o}ren Auer},
  speaker	= {Christoph Lange},
  crossref	= {eswc15pn},
  eprint	= {1506.04094},
  eprintclass	= {cs.IR},
  eprinttype	= {arxiv},
  title		= {The {WDAqua} {ITN} -- Answering Questions using Web Data}
}

@InProceedings{	  Lange:DSOS2015,
  author	= {Christoph Lange},
  speaker	= {Christoph Lange},
  crossref	= {DagstuhlDSOS2015},
  pubs		= {clange},
  file		= {http://drops.dagstuhl.de/opus/volltexte/2016/5672/pdf/dagrep_v005_i007_p042_s15302.pdf},
  title		= {Scholarly Communication and Semantic Publishing: Technical
		  Challenges, and Recent Applications to Social Sciences}
}

@InProceedings{Galkin:ICEIS17,
  author  = {Mikhail Galkin and Simon Scerri and Maria-Esther
      Vidal and S{\"o}ren Auer},
  title   = {Enterprise Knowledge Graphs: A Semantic Approach for Knowledge Management in the Next Generation of Enterprise Information Systems},
  pubs    = {mgalkin,scerri,auer,vidal},
  keywords  = {conference},
  eventtitle  = {19\textsuperscript{th} International Conference on Enterprise Information Systems (ICEIS)},
  eventdate = {2017-04-26/2017-04-29},
  venue   = {Porto, Portugal},
  publisher = {Scitepress},
  file = {https://github.com/EIS-Bonn/Papers/blob/master/2017/ICEIS_KG_Survey/ICES_2017_EKG_CameraReady.pdf},
  year = 2017,
}

@Report{IDSArchitecture17,
  author	= {Boris Otto and Steffen Lohmann and S{\"o}ren Auer and Gerd Brost and Jan Cirullies and Andreas Eitel and Thilo Ernst and Christian Haas and Manuel Huber and Christian Jung and Jan J{\"u}rjens and Christoph Lange and Christian Mader and Nadja Menz and Ralf Nagel and Heinrich Pettenpohl and Jaroslav Pullmann and Christoph Quix and Jochen Schon and Daniel Schulz and Julian Sch{\"u}tte and Markus Spiekermann and Sven Wenzel},
  institution	= {Fraunhofer},
  title		= {Reference Architecture Model for the Industrial Data Space},
  url		= {https://www.fraunhofer.de/content/dam/zv/de/Forschungsfelder/industrial-data-space/Industrial-Data-Space_Reference-Architecture-Model-2017.pdf},
  year		= {2017},
  pubs = {clange,maderc},
}

@InProceedings{	  auer-?-2005--,
  author	= {S{\"o}ren Auer and Bart Pieterse},
  booktitle	= {Proceedings of the ISWC 2005 Workshop on Semantic Web Case
		  Studies and Best Practices for eBusiness (SWCASE05),
		  Galway, Ireland, November 7},
  keywords	= {2005 auer pieterse group_aksw sys:relevantFor:infai
		  sys:relevantFor:bis},
  month		= {November},
  owner		= {alex},
  publisher	= {CEUR Workshop Proceedings},
  timestamp	= {2010.06.28},
  title		= {Vernetzte Kirche: building a Semantic Web},
  url		= {http://sunsite.informatik.rwth-aachen.de/Publications/CEUR-WS/Vol-155/paper3.pdf},
  year		= {2005},
  bdsk-url-1	= {http://sunsite.informatik.rwth-aachen.de/Publications/CEUR-WS/Vol-155/paper3.pdf}
}

@InProceedings{	  bohring-?-2005--,
  author	= {Hannes Bohring and S{\"o}ren Auer},
  booktitle	= {Proceedings of 13. Leipziger Informatik-Tage (LIT 2005),
		  Sep. 21-23},
  keywords	= {2005 bohring auer event_lit group_aksw
		  sys:relevantFor:infai sys:relevantFor:bis},
  month		= {September},
  owner		= {alex},
  series	= {Lecture Notes in Informatics (LNI)},
  timestamp	= {2010.06.28},
  title		= {Mapping XML to OWL Ontologies},
  url		= {http://www.informatik.uni-leipzig.de/~auer/publication/xml2owl.pdf},
  year		= {2005},
  bdsk-url-1	= {http://www.informatik.uni-leipzig.de/~auer/publication/xml2owl.pdf}
}

@InProceedings{	  bohring-?-2005--,
  author	= {Hannes Bohring and S{\"o}ren Auer},
  booktitle	= {Proceedings of 13. Leipziger Informatik-Tage (LIT 2005),
		  Sep. 21-23},
  keywords	= {2005 bohring auer event_lit group_aksw
		  sys:relevantFor:infai sys:relevantFor:bis},
  month		= {September},
  owner		= {alex},
  series	= {Lecture Notes in Informatics (LNI)},
  timestamp	= {2010.06.28},
  title		= {Mapping XML to OWL Ontologies},
  url		= {http://www.informatik.uni-leipzig.de/~auer/publication/xml2owl.pdf},
  year		= {2005},
  bdsk-url-1	= {http://www.informatik.uni-leipzig.de/~auer/publication/xml2owl.pdf}
}

@report{HetsForCommonLogic,
	author = {Till Mossakowski and Christian Maeder and Mihai Codescu and Eugen Kuksa and Christoph Lange},
	date = {2013-01-10},
	Institution = {DFKI GmbH, Bremen},
	pubs = {clange},
	title = {for Common Logic Users},
	url = {https://svn-agbkb.informatik.uni-bremen.de/Hets/trunk/doc/UserGuideCommonLogic.pdf},
	Version = {0.99},
	year = 2013,
	bdsk-Url-1 = {https://svn-agbkb.informatik.uni-bremen.de/Hets/trunk/doc/UserGuideCommonLogic.pdf}}

  @report{HetsForCommonLogic,
	author = {Till Mossakowski and Christian Maeder and Mihai Codescu and Eugen Kuksa and Christoph Lange},
	date = {2013-01-10},
	Institution = {DFKI GmbH, Bremen},
	pubs = {clange},
	title = {for {Common Logic} Users},
	url = {https://svn-agbkb.informatik.uni-bremen.de/Hets/trunk/doc/UserGuideCommonLogic.pdf},
	Version = {0.99},
	year = 2013,
	bdsk-Url-1 = {https://svn-agbkb.informatik.uni-bremen.de/Hets/trunk/doc/UserGuideCommonLogic.pdf}}

  @Proceedings{	  semwiki06,
  address	= {Aachen},
  booktitle	= {1\textsuperscript{st} Workshop on Semantic Wikis},
  editor	= {Max V{\"o}lkel and Sebastian Schaffert and Stefan Decker},
  eventdate	= {2006-06-12},
  issn		= {1613-0073},
  number	= 206,
  series	= {CEUR Workshop Proceedings},
  title		= {Proceedings of the 1\textsuperscript{st} Workshop on
		  Semantic Wikis, {European} {Semantic} {Web} {Conference}},
  url		= {http://ceur-ws.org/Vol-206},
  venue		= {Budva, Montenegro},
  year		= 2006,
  bdsk-url-1	= {http://ceur-ws.org/Vol-206}
}

@InProceedings{	  scerri2005semantexplorer,
  author	= {Scerri, Simon and Abela, Charlie and Montebello, Matthew},
  booktitle	= {IADIS International Conference Libson, Portugal},
  title		= {Semantexplorer: A Semantic Browser},
  year		= {2005}
}

@InProceedings{	  bohring-?-2005--,
  author	= {Hannes Bohring and S{\"o}ren Auer},
  booktitle	= {Proceedings of 13. Leipziger Informatik-Tage (LIT 2005),
		  Sep. 21-23},
  keywords	= {2005 bohring auer event_lit group_aksw
		  sys:relevantFor:infai sys:relevantFor:bis},
  month		= {September},
  owner		= {alex},
  series	= {Lecture Notes in Informatics (LNI)},
  timestamp	= {2010.06.28},
  title		= {Mapping XML to OWL Ontologies},
  url		= {http://www.informatik.uni-leipzig.de/~auer/publication/xml2owl.pdf},
  year		= {2005},
  bdsk-url-1	= {http://www.informatik.uni-leipzig.de/~auer/publication/xml2owl.pdf}
}

@InProceedings{	  aumueller-?-2005--,
  author	= {David Aumueller and S{\"o}ren Auer},
  booktitle	= {Proceedings of 1st Workshop on The Semantic Desktop - Next
		  Generation Personal Information Management and
		  Collaboration Infrastructure, Galway, Ireland, Nov. 6th},
  keywords	= {2005 aumueller auer group_aksw sys:relevantFor:infai
		  sys:relevantFor:bis},
  month		= {November},
  owner		= {alex},
  timestamp	= {2010.06.28},
  title		= {Towards a Semantic Wiki Experience - Desktop Integration
		  and Interactivity in WikSAR},
  year		= {2005}
}

@InProceedings{	  auer-?-2005--,
  author	= {S{\"o}ren Auer and Bart Pieterse},
  booktitle	= {Proceedings of the ISWC 2005 Workshop on Semantic Web Case
		  Studies and Best Practices for eBusiness (SWCASE05),
		  Galway, Ireland, November 7},
  keywords	= {2005 auer pieterse group_aksw sys:relevantFor:infai
		  sys:relevantFor:bis},
  month		= {November},
  owner		= {alex},
  publisher	= {CEUR Workshop Proceedings},
  timestamp	= {2010.06.28},
  title		= {Vernetzte Kirche: building a Semantic Web},
  url		= {http://sunsite.informatik.rwth-aachen.de/Publications/CEUR-WS/Vol-155/paper3.pdf},
  year		= {2005},
  bdsk-url-1	= {http://sunsite.informatik.rwth-aachen.de/Publications/CEUR-WS/Vol-155/paper3.pdf}
}

@InProceedings{	  auer-s-2005--a,
  author	= {S{\"o}ren Auer},
  booktitle	= {Proceeding of 1st Workshop Scripting for the Semantic Web
		  (SFSW'05), Hersonissos, Greece, May 30},
  keywords	= {2005 auer event_sfsw group_aksw sys:relevantFor:infai
		  sys:relevantFor:bis},
  month		= {May},
  owner		= {alex},
  publisher	= {CEUR Workshop Proceedings},
  timestamp	= {2010.06.28},
  title		= {Powl - A Web Based Platform for Collaborative Semantic Web
		  Development},
  year		= {2005}
}

@Book{		  lange05:wiki,
  editor	= {Christoph Lange},
  hyphenation	= {ngerman},
  isbn		= {3-936546-28-2},
  month		= sep,
  publisher	= {C\&L Computer- und Literaturverlag},
  pubs		= {clange},
  title		= {Wiki -- {Planen}, {Einrichten}, {Verwalten}},
  year		= {2005}
}

@InCollection{	  beck-?-2004--,
  author	= {Norman Beck and S{\"o}ren Auer},
  booktitle	= {Von e-Learning bis e-Payment : Das Internet als sicherer
		  Marktplatz},
  editor	= {Klaus-Peter F{\"a}hnrich},
  keywords	= {2004 beck auer group_aksw sys:relevantFor:infai
		  sys:relevantFor:bis},
  owner		= {alex},
  timestamp	= {2010.07.05},
  title		= {Semantic Web Content Management},
  year		= {2004}
}

@InProceedings{	  auer-?-2004--,
  author	= {S{\"o}ren Auer and Patryk Burek and Tonio Grawe},
  booktitle	= {Proceedings of 4th International Conference on Knowledge
		  Management (I-KNOW '04)},
  keywords	= {2004 event_i-know auer burek grawe group_aksw
		  sys:relevantFor:infai sys:relevantFor:bis},
  owner		= {alex},
  publisher	= {Journal of Universal Computer Science (J.UCS)},
  timestamp	= {2010.06.28},
  title		= {Knowledge Engineering for IT-based Services},
  url		= {http://www.informatik.uni-leipzig.de/~auer/publication/2004_Knowledge_Engineering_for_IT-based_Services.pdf},
  year		= {2004},
  bdsk-url-1	= {http://www.informatik.uni-leipzig.de/~auer/publication/2004_Knowledge_Engineering_for_IT-based_Services.pdf}
}

@report{ThakkarEtAl:LITMUS16,
  author = {Harsh Thakkar and Mohnish Dubey and Gezim Sejdiu and Ngonga Ngomo, Axel-Cyrille and Jeremy Debattista and Christoph Lange and Jens Lehmann and S{\"o}ren Auer and Maria-Esther Vidal},
  title = {LITMUS: An Open Extensible Framework for Benchmarking {RDF} Data Management Solutions},
  date = {2016-08-09},
  year = 2016,
	Eprint = {1608.02800},
	eprintclass = {cs.PF},
	eprinttype = {arxiv},
        pubs = {clange,vidal},
        file = {http://arxiv.org/pdf/1608.02800},
}
  </pre>


<script>

  bibtexify("#bibtex", "pubTable");
</script>
</div>
