---
rdf_prefix_path: simpsons.pref
layout: default
---
<!-- SCRIPT FOR open and finished thesis filters -->
<script>
  function activeOpenThesis()
  {
    document.getElementById('finishedThesis').style.display = 'none';
    document.getElementById('end').classList.remove('active');
    document.getElementById('openThesis').style.display = 'block';
    document.getElementById('start').classList.add('active');
    console.log("dsada");
  }

  function activeFinishedThesis()
  {
    document.getElementById('openThesis').style.display = 'none';
    document.getElementById('start').classList.remove('active');
    document.getElementById('finishedThesis').style.display = 'block';
    document.getElementById('end').classList.add('active');
    console.log("edn");
  }
</script>
<!--END SCRIPT  -->

<!--Querry to GET all the groups of the thesis   -->
{% capture query %}
    SELECT ?group ?projectname WHERE{
        <{{page.rdf}}> ex:group ?group .
        ?group rdfs:label ?projectname .
}
{% endcapture %}
{% assign resultset = page.rdf | sparql_query: query %}

<!-- Presentation of thesis Items  -->
<article class="post">
  <div class="pagination">
    <br class="horizontal-separator"/>
    <h1 class="post-title">Interested to do thesis? We have 3 Open Topics for you !</h1>
    <br/>
    <div class="main-thesis-text">
      <div class="thesis-detail">
        {{ page.rdf | rdf_property: 'ex:description'}}
      </div>
      <div class="thesis-research-areas">
        <ul>
          {% for group in resultset %}
            <li>
              {{group.projectname}}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="thesis-note">
      {{ page.rdf | rdf_property: 'ex:longdescription' }}
      </div>
    </div>
    <br class="horizontal-separator"/>
    <div class="status-thesis">
      <hr/>
      <br/>
      <a href="#" id="start" class="active" onclick="activeOpenThesis()"><i class="fa fa-hourglass-start" aria-hidden="true"></i>
      Open Thesis Topics</a>
      <a href="#" id="end" class="" onclick="activeFinishedThesis()"><i class="fa fa-hourglass-end" aria-hidden="true"></i>
      Completed Thesis List</a>
      <br/>
      <br/>
      <hr/>
      <br class="horizontal-separator2" />
      <div class="thesis-items">
          <div id="openThesis" style="display:block">
            <!--Querry to GET Open Thesis Items-->
            {% capture query %}
            SELECT ?thesisItem ?topic ?level ?website ?open ?long  WHERE{
                ?thesisItem a ex:thesisItem .
                ?thesisItem rdfs:label ?topic .
                ?thesisItem ex:level ?level .
                ?thesisItem ex:homepage ?website .
                ?thesisItem ex:open ?open .
                ?thesisItem ex:longdescription ?long .

            }
            {% endcapture %}
            {% assign resultset = page.rdf | sparql_query: query %}
            <!--Querry to Present All the Open Thesis Items  -->
            {% for result in resultset %}
              <!--QUERY to GET all the people associated with the thesis topic  -->
              {% capture query2 %}
              SELECT ?thesisItem ?open ?person ?name ?topic WHERE{
                  ?thesisItem a ex:thesisItem .
                  ?thesisItem rdfs:label ?topic .
                  ?thesisItem ex:open ?open .
                  ?thesisItem foaf:Person ?person .
                  ?person foaf:name ?name .
              }
              {% endcapture %}
              {% assign resultset2 = page.rdf | sparql_query: query2 %}
                {% capture labelname %}{{result.topic}}{% endcapture %}
                <h1>{{result.topic}}</h1>
                <p>{{result.long}}</p>
              <!--Presentation of the resultset  -->
              {% for result2 in resultset2 %}
                {% capture topicname %}{{result2.topic}}{% endcapture %}

                {% if topicname == labelname  %}
                {% assign url =  result2.person | remove: "http://example.org/" %}
                <a href="../{{url}}">{{result2.name}}</a>
                <br/>
                {% else %}
                {% endif %}

              {% endfor %}
              <br/><hr/><br/>
            {% endfor %}
        </div>
        <div id="finishedThesis" style="display:none">
          <!--QUERY to GET the CLOSED Thesis-->
          {% capture query3 %}
          SELECT ?thesisItem ?topic ?level ?website ?closed ?long  WHERE{
              ?thesisItem a ex:thesisItem .
              ?thesisItem rdfs:label ?topic .
              ?thesisItem ex:level ?level .
              ?thesisItem ex:homepage ?website .
              ?thesisItem ex:closed ?closed .
              ?thesisItem ex:longdescription ?long .

          }
          {% endcapture %}
          {% assign resultsetclosed = page.rdf | sparql_query: query3 %}
          <!--Presentation of CLOSED Thesis Items  -->
          {% for result3 in resultsetclosed %}
            <!--QUERY to GET all the people associated with the thesis topic  -->
            {% capture query4 %}
            SELECT ?thesisItem ?open ?person ?name ?topic WHERE{
                ?thesisItem a ex:thesisItem .
                ?thesisItem rdfs:label ?topic .
                ?thesisItem ex:closed ?closed .
                ?thesisItem foaf:Person ?person .
                ?person foaf:name ?name .
            }
            {% endcapture %}
            {% assign resultset2closed = page.rdf | sparql_query: query4 %}
              {% capture labelname %}{{result3.topic}}{% endcapture %}
              <h1>{{result3.topic}}</h1>
              <p>{{result3.long}}</p>
            <!--Presentation of the resultset  -->
            {% for result4 in resultset2closed %}
              {% capture topicname %}{{result4.topic}}{% endcapture %}

              {% if topicname == labelname  %}

              {% assign url =  result4.person | remove: "http://example.org/" %}
              <a href="../{{url}}">{{result4.name}}</a>
              <br/>
              {% else %}
              {% endif %}

            {% endfor %}
            <br/><hr/><br/>
          {% endfor %}
        </div>
      </div>
      <br class="horizontal-separator2" />
    </div>
  </div>
</article>
