---
rdf_prefix_path: sda.tech.pref
layout: default
---
<article class="post">
  {% include toggleGroupTypes.html %}
  <div class="pagination">
    <!--QUERY to GET all the GROUP Items  -->
    <!-- {% capture query %} SELECT ?group ?name ?desc ?imageclass WHERE{ ?group a ex:group . ?group rdfs:label ?name . ?group ex:longdescription ?desc . ?group ex:imageclass ?imageclass . } {% endcapture %} {% assign resultset = page.rdf | sparql_query: query
    %} -->
    {% capture query %} SELECT ?group ?name ?desc ?imageclass WHERE{ ?group a aiiso:ResearchGroup . ?group rdfs:label ?name . ?group dct:description ?desc . ?group foaf:depiction ?imageclass . } {% endcapture %} {% assign resultset = page.rdf | sparql_query: query
    %}
    <!-- Paginating logic for all the GROUPS -->
    {% assign count = 1 %}
    {% for result in resultset %} {% capture groupname %}{{result.name}}{% endcapture %} {% if count == 1 %}
    <a href="#" id="{{groupname | remove: " " }}" class="active responsiveTabItem" onclick="changeActiveGroups('{{groupname}}')"><i class="{{result.imageclass}} margin-icon"></i>
            {{groupname}}</a>{% assign count = count | plus:1 %} {% else %}
    <a href="#" id="{{groupname | remove: " " }}" class="responsiveTabItem" onclick="changeActiveGroups('{{groupname}}')">
          <i class="{{result.imageclass}} margin-icon"></i>
         {{groupname}}</a>{% assign count = count | plus:1 %} {% endif %} {% if count == 4 %}
    <br class="breakpoint-pagination"/><br class="breakpoint-pagination"/> {% endif %} {% endfor %}
    <br/>
    <br/>
    <hr class="ruleh" /></div>
    {% for result in resultset %} {% capture name %}{{result.name}}{% endcapture %}

    <!--GET querry for Distributed Semantic Analytics  -->
    {% if name == site.data.groupTypes[0].name %}
    <div id="dsa" class="content-people" style="display:none">
      <div class="post-content">
        {% capture querytwo %} SELECT ?group ?project ?name ?nameproject ?image WHERE{ ?group a ex:group . ?group rdfs:label ?name . ?group ex:project ?project . ?project rdfs:label ?nameproject . ?project foaf:depiction ?image . } {% endcapture %} {% assign
        resultset2 = page.rdf | sparql_query: querytwo %} {% capture querythree %} SELECT ?group ?project ?name ?person ?nameperson ?image WHERE{ ?group a ex:group . ?group rdfs:label ?name . ?group foaf:Person ?person . ?person foaf:name ?nameperson
        . ?person foaf:depiction ?image . } {% endcapture %} {% assign resultset3 = page.rdf | sparql_query: querythree %}
        <div>
          <div class="container">
            <br/>
            <h2 style="text-align:center;"><i class="{{result.imageclass}}"></i> {{result.name}}</h2>
            <br class="horizontal-separator" />
            <p>{{result.desc}}</p>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Group Members</h2>
            <div class="membersofProject">
              {% for result3 in resultset3 %} {% capture groupname %}{{result3.name}}{% endcapture %} {% if groupname == name %} {% assign url= result3.person | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result3.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result3.nameperson}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Projects</h2>
            <div class="partnersOfProject">
              {% for result2 in resultset2 %} {% capture groupname %}{{result2.name}}{% endcapture %} {% if groupname == name %} {% assign url= result2.project | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result2.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result2.nameproject}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Publications </h2>
            <br class="horizontal-separator2" />
          </div>
        </div>
        <br class="horizontal-separator" />
      </div>
    </div>
    {% endif %}
    <!--GET querry for Semantic Question Answering  -->
    {% if name == site.data.groupTypes[1].name %}
    <div id="sqa" class="content-people" style="display:none">
      <div class="post-content">
        {% capture querytwo %} SELECT ?group ?project ?name ?nameproject ?image WHERE{ ?group a ex:group . ?group rdfs:label ?name . ?group ex:project ?project . ?project rdfs:label ?nameproject . ?project foaf:depiction ?image . } {% endcapture %} {% assign
        resultset2 = page.rdf | sparql_query: querytwo %} {% capture querythree %} SELECT ?group ?project ?name ?person ?nameperson ?image WHERE{ ?group a ex:group . ?group rdfs:label ?name . ?group foaf:Person ?person . ?person foaf:name ?nameperson
        . ?person foaf:depiction ?image . } {% endcapture %} {% assign resultset3 = page.rdf | sparql_query: querythree %}
        <div>
          <div class="container">
            <br/>
            <h2 style="text-align:center;"><i class="{{result.imageclass}}"></i> {{result.name}}</h2>
            <br class="horizontal-separator" />
            <p>{{result.desc}}</p>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Group Members</h2>
            <div class="membersofProject">
              {% for result3 in resultset3 %} {% capture groupname %}{{result3.name}}{% endcapture %} {% if groupname == name %} {% assign url= result3.person | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result3.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result3.nameperson}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Projects</h2>
            <div class="partnersOfProject">
              {% for result2 in resultset2 %} {% capture groupname %}{{result2.name}}{% endcapture %} {% if groupname == name %} {% assign url= result2.project | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result2.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result2.nameproject}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Publications </h2>
            <br class="horizontal-separator2" />
          </div>
        </div>
        <br class="horizontal-separator" />
      </div>
    </div>
    {% endif %}
    <!--GET querry for Structured Machine Learning  -->
    {% if name == site.data.groupTypes[2].name %}
    <div id="sml" class="content-people" style="display:none">
      <div class="post-content">
        <div>
          <div class="container">
            <br/>
            <h2 style="text-align:center;"><i class="{{result.imageclass}}"></i> {{result.name}}</h2>
            <br class="horizontal-separator" />
            <p>{{result.desc}}</p>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Group Members</h2>
            <div class="membersofProject">
              {% for result3 in resultset3 %} {% capture groupname %}{{result3.name}}{% endcapture %} {% if groupname == name %} {% assign url= result3.person | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result3.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result3.nameperson}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Projects</h2>
            <div class="partnersOfProject">
              {% for result2 in resultset2 %} {% capture groupname %}{{result2.name}}{% endcapture %} {% if groupname == name %} {% assign url= result2.project | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result2.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result2.nameproject}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Publications </h2>
            <br class="horizontal-separator2" />
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!--GET querry for Deep Learning  -->
    {% if name == site.data.groupTypes[3].name %}
    <div id="dl" class="content-people" style="display:inline-block">
      <div class="post-content">
        <div>
          <div class="container">
            <br/>
            <h2 style="text-align:center;"><i class="{{result.imageclass}}"></i> {{result.name}}</h2>
            <br class="horizontal-separator" />
            <p>{{result.desc}}</p>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Group Members</h2>
            <div class="membersofProject">
              {% for result3 in resultset3 %} {% capture groupname %}{{result3.name}}{% endcapture %} {% if groupname == name %} {% assign url= result3.person | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result3.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result3.nameperson}}</a>
              </div>
              {% endif %}{% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Projects</h2>
            <div class="partnersOfProject">
              {% for result2 in resultset2 %} {% capture groupname %}{{result2.name}}{% endcapture %} {% if groupname == name %} {% assign url= result2.project | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result2.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result2.nameproject}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Publications</h2>
            <br class="horizontal-separator2" />
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!--GET querry for Semantic Data Management  -->
    {% if name == site.data.groupTypes[4].name %}
    <div id="sdm" class="content-people" style="display:none">
      <div class="post-content">
        <div>
          <div class="container">
            <br/>
            <h2 style="text-align:center;"><i class="{{result.imageclass}}"></i> {{result.name}}</h2>
            <br class="horizontal-separator" />
            <p>{{result.desc}}</p>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Group Members</h2>
            <div class="membersofProject">
              {% for result3 in resultset3 %} {% capture groupname %}{{result3.name}}{% endcapture %} {% if groupname == name %} {% assign url= result3.person | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result3.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result3.nameperson}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Projects</h2>
            <div class="partnersOfProject">
              {% for result2 in resultset2 %} {% capture groupname %}{{result2.name}}{% endcapture %} {% if groupname == name %} {% assign url= result2.project | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result2.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result2.nameproject}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Publications </h2>
            <br class="horizontal-separator2" />
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!--GET querry for SoftwareEngineeringforDataScience  -->
    {% if name == site.data.groupTypes[5].name %}
    <div id="seds" class="content-people" style="display:none">
      <div class="post-content">
        <div>
          <div class="container">
            <br/>
            <h2 style="text-align:center;"><i class="{{result.imageclass}}"></i> {{result.name}}</h2>
            <br class="horizontal-separator" />
            <p>{{result.desc}}</p>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Group Members</h2>
            <div class="membersofProject">
              {% for result3 in resultset3 %} {% capture groupname %}{{result3.name}}{% endcapture %} {% if groupname == name %} {% assign url= result3.person | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result3.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result3.nameperson}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Projects</h2>
            <div class="partnersOfProject">
              {% for result2 in resultset2 %} {% capture groupname %}{{result2.name}}{% endcapture %} {% if groupname == name %} {% assign url= result2.project | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result2.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result2.nameproject}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Publications </h2>
            <br class="horizontal-separator2" />
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!--GET querry for KnowledgeExtractionandValidation  -->
    {% if name == site.data.groupTypes[6].name %}
    <div id="knv" class="content-people" style="display:none">
      <div class="post-content">
        <div>
          <div class="container">
            <br/>
            <h2 style="text-align:center;"><i class="{{result.imageclass}}"></i> {{result.name}}</h2>
            <br class="horizontal-separator" />
            <p>{{result.desc}}</p>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Group Members</h2>
            <div class="membersofProject">
              {% for result3 in resultset3 %} {% capture groupname %}{{result3.name}}{% endcapture %} {% if groupname == name %} {% assign url= result3.person | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result3.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result3.nameperson}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Projects</h2>
            <div class="partnersOfProject">
              {% for result2 in resultset2 %} {% capture groupname %}{{result2.name}}{% endcapture %} {% if groupname == name %} {% assign url= result2.project | remove: "http://example.org/" %}
              <div class="chip">
                <img src="{{result2.image}}" alt="Person" width="96" height="96">
                <a href="../{{url}}">{{result2.nameproject}}</a>
              </div>
              {% endif %} {% endfor %}
            </div>
            <br class="horizontal-separator" />
            <br class="horizontal-separator" />
            <h2>Publications </h2>
            <br class="horizontal-separator2" />
          </div>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

</article>
