---
rdf_prefix_path: sda.tech.pref
layout: default
---
{%include toggleJobTypes.html%} 
<article class="post">
  <div class="pagination">
    <div class="job-types">
      <a href="#" id="akad" class="active responsiveTabItem" onclick="akademischeJob()"><i class="fa fa-pencil-square-o margin-icon" aria-hidden="true"></i>
      {{site.data.jobTypes[0].name}}</a>
      <a href="#" id="postdoctoral" class="responsiveTabItem" onclick="postdoctoralJob()"><i class="fa fa-user-circle-o margin-icon" aria-hidden="true"></i>
      {{site.data.jobTypes[1].name}}</a><br class="breakpoint-pagination"/><br class="breakpoint-pagination"/>
      <a href="#" id="phdpos" class="responsiveTabItem" onclick="phdJobs()"><i class="fa fa-graduation-cap margin-icon" aria-hidden="true"></i>
      {{site.data.jobTypes[2].name}}</a>
      <a href="#" id="studentassistants" class="responsiveTabItem" onclick="studentAssistantsJob()"><i class="fa fa-user margin-icon" aria-hidden="true"></i>
      {{site.data.jobTypes[3].name}}</a>
      <br/>
      <br/>
      <hr/>
    </div>
  </div>
    <div class="job-contents content-people">
      <div class="jobDescription" id="akRat" style="display:block">
        {% include jobType0.html %}
      </div>
      <div class="jobDescritpion" id="posDoc" style="display:none">
        {% include jobType1.html %}
      </div>
      <div class="jobDescription" id="phJob" style="display:none">
        {% include jobType2.html %}
      </div>
      <div class="jobDescription" id="saJob" style="display:none">
        {% include jobType3.html %}
      </div>
    </div>
    <br class="horizontal-separator" />
</article>
