---
rdf_prefix_path: sda.tech.pref
layout: default
---
{% include toggleThesisTypes.html %}
{% include toggleBachelorThesis.html %}
{% include toggleMasterThesis.html %}

<!--Querry to GET all the Contact Persons of the Thesis   -->
{% capture query %} SELECT  ?thesis ?thesisTitle ?person ?personName ?personImage WHERE{
 ?thesis a dct:BibliographicResource . ?thesis a bibo:Thesis . ?thesis dct:title ?thesisTitle . ?thesis dct:creator ?person . ?person foaf:nick ?personName . ?person foaf:depiction ?personImage . } {% endcapture %} {% assign personsInThesis = page.rdf | sparql_query: query %}
  <!-- Presentation of thesis Items  -->
  <article class="post">
    <!--Thesis Header  -->
    {% include thesisHeader.html active="master" %}
    <!--Thesis Contetnt Types  -->
    {% include thesisContent.html active="master" %}
        <br class="horizontal-separator2" />
  </article>
