---
rdf_prefix_path: sda.tech.pref
layout: default
---
{% include togglePartnerTypes.html %}
<!-- Presenting the PARTNERS -->
<article class="post">
  <div class="pagination">
    <a href="#" id="allPar" class="active responsiveTabItem" onclick="allPartners()"><i class="fa fa-list-alt margin-icon" aria-hidden="true"></i>
    All Partners</a>
    <a href="#" id="industryPar" class="responsiveTabItem" onclick="industryPartners()"><i class="fa fa-industry margin-icon" aria-hidden="true"></i>
    Industry Partners</a>
    <a href="#" id="academicPar" class="responsiveTabItem" onclick="academicPartners()"><i class="fa fa-graduation-cap margin-icon" aria-hidden="true"></i>
    Academic Partners</a>
    <!-- <h1 class="post-title">Looking for our Partners ? Yes we have {{length}} partners.</h1> -->
    <br/>
    <br/>
    <hr />
  </div>
    <!-- FOR GETTING ASSOCIATED PROJECTS -->
    {% capture query %} SELECT ?partners ?project ?partnername ?name ?image  WHERE{ ?partners a sdatech:Partner . ?partners foaf:currentProject ?project . ?partners foaf:name ?partnername . ?project rdfs:label ?name  . OPTIONAL { ?project foaf:logo ?image } }
    {% endcapture %} {% assign partnersWithProjects = page.rdf | sparql_query: query %} {% assign length2 = partners | size %}
    <div class="partner-items content-people">
      <div id="allPartners" style="display:block">
        <!-- QUERRY to GET ALL the PARTNERS -->
        {% capture query %} SELECT ?partners ?title ?description ?image ?homepage WHERE{ ?partners a sdatech:Partner . OPTIONAL { ?partners rdfs:label ?title } . OPTIONAL { ?partners dct:abstract ?description } . OPTIONAL { ?partners foaf:depiction ?image }
        . OPTIONAL { ?partners foaf:homepage ?homepage } . }{% endcapture %} {% assign partnersArray = page.rdf | sparql_query: query %} {% assign length = partners | size %}
        <!--Presenting ALL the PARTNERS  -->
        {% assign mainCount = 1 %} {% for partner in partnersArray %}{% capture partnerName %}{{partner.title}}{% endcapture %}{% if mainCount != length %} {% include partnerItem.html title=partner.title image=partner.image description=partner.description last=0 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% else %} {% include partnerItem.html
        title=partner.title image=partner.image description=partner.description last=1 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% endif %} {% assign mainCount = mainCount | plus:1 %} {% endfor %}
      </div>
      <div id="industryPartners" style="display:none">
        <!-- QUERRY to GET the INDUSTRY PARTNERS -->
        {% capture query %} SELECT ?partners ?title ?description ?image ?homepage WHERE{ ?partners a sdatech:Partner . ?partners a sdatech:industryPartner . ?partners foaf:name ?title . ?partners dct:abstract ?description . ?partners foaf:depiction ?image
        . ?partners foaf:homepage ?homepage . } {% endcapture %} {% assign partners = page.rdf | sparql_query: query %} {% assign length = partners | size %}
        <!--Presenting ALL the INDUSTRY PARTNERS  -->
        {% assign mainCount = 1 %} {% for partner in partners %}{% capture partnerName %}{{partner.title}}{% endcapture %}{% if mainCount != length %} {% include partnerItem.html title=partner.title image=partner.image description=partner.description last=0 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% else %} {% include partnerItem.html
        title=partner.title image=partner.image description=partner.description last=1 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% endif %} {% assign mainCount = mainCount | plus:1 %} {% endfor %}
      </div>
      <div id="academicPartners" style="display:none">
        <!-- QUERRY to GET ALL the ACADMEIC PARTNERS -->
        {% capture query %} SELECT ?partners ?title ?description ?image ?homepage WHERE{ ?partners a sdatech:Partner . ?partners a sdatech:academicPartner . ?partners foaf:name ?title . ?partners dct:abstract ?description . ?partners foaf:depiction ?image
        . ?partners foaf:homepage ?homepage . } {% endcapture %} {% assign partners = page.rdf | sparql_query: query %} {% assign length = partners | size %}
        <!--Presenting ALL the ACADEMIC PARTNERS  -->
        {% assign mainCount = 1 %} {% for partner in partners %}{% capture partnerName %}{{partner.title}}{% endcapture %}{% if mainCount != length %}
        {% include partnerItem.html title=partner.title image=partner.image description=partner.description last=0 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% else %}
        {% include partnerItem.html
        title=partner.title image=partner.image description=partner.description last=1 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% endif %} {% assign mainCount = mainCount | plus:1 %} {% endfor %}
      </div>
    </div>
    <br class="horizontal-separator2" />
</article>
