---
rdf_prefix_path: simpsons.pref
layout: default
---
<!-- QUERRY to GET the PARTNERS -->
{% capture query %}
SELECT ?partners ?title ?description ?image ?homepage WHERE{
    ?partners a ex:partners .
    ?partners rdfs:label ?title .
    ?partners ex:longdescription ?description .
    ?partners foaf:depiction ?image .
    ?partners ex:homepage ?homepage .
}
{% endcapture %}
{% assign partners = page.rdf | sparql_query: query %}
{% assign length = partners | size %}
<!-- Presenting the PARTNERS -->
<article class="post">
  <div class="pagination">
    <a href="#" id="funded" class="active" onclick="activeFundedProjects()" ><i class="fa fa-list-alt" aria-hidden="true"></i>
    All Partners</a>
    <a href="#" id="funded" class="" onclick="activeFundedProjects()" ><i class="fa fa-industry" aria-hidden="true"></i>
    Industry Partners</a>
    <a href="#" id="opensrc" class="" onclick="activeOpenSourceProjects()"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
    Academic Partners</a>
    <!-- <h1 class="post-title">Looking for our Partners ? Yes we have {{length}} partners.</h1> -->
    <br/>
    <br/>
    <hr />
    {% assign length = partners | size %}
    {% assign mainCount = 1 %}
    {% for partner in partners %}
      {% if mainCount != length %}
        {% include partnerItem.html title=partner.title  image=partner.image description=partner.description last=0 href=partner.homepage %}
      {% else %}
        {% include partnerItem.html title=partner.title  image=partner.image description=partner.description last=1 href=partner.homepage %}
      {% endif %}
        {% assign mainCount = mainCount | plus:1 %}
    {% endfor %}
    <br class="horizontal-separator2" />
  </div>
</article>
