---
rdf_prefix_path: sda.tech.pref
layout: default
---
<article class="post">
  <div class="pagination">
    <div class="post-content">
      <br class="horizontal-separator" />
      <h2 style="text-align:center;"><img class="img-circle-small" src="{{ page.rdf | rdf_property: 'foaf:depiction'}}"></img> {{ page.rdf | rdf_property: 'foaf:title' }} {{ page.rdf | rdf_property: 'foaf:firstName' }} {{ page.rdf | rdf_property: 'foaf:familyName' }}</h2>
      <h4 class="dynamicChange" style="text-align:center;">{{ page.rdf | rdf_property: 'foaf:status' }}</h4>
      <br/>
      <div class="links-to-social" style="text-align:center;">
          <a href="{{ page.rdf | rdf_property: 'sda:twitter' }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
          <a href="{{ page.rdf | rdf_property: 'sda:website' }}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> </a>
          <a href="{{ page.rdf | rdf_property: 'sda:facebook' }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
          <a href="{{ page.rdf | rdf_property: 'sda:linkedin' }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
      </div>
      <br class="horizontal-separator2" />
      <div class="membersofProject" style="text-align:center;">
        <p><span style="padding-right:8px;"><i class="fa fa-home" aria-hidden="true"></i> Room Number: {{page.rdf | rdf_property: 'sda:room'}}</span> <span style="padding-right:8px;"> <i class="fa fa-phone" aria-hidden="true"></i> {{page.rdf | rdf_property: 'foaf:phone'}} </span> <span style="padding-right:8px;"> <i class="fa fa-envelope" aria-hidden="true"></i> {{page.rdf | rdf_property: 'foaf:mbox'}} </span>  </p>
      </div>
      <br class="horizontal-separator2" />
      <br class="horizontal-separator2" />
      <div class="description-project">
        <p>{{page.rdf | rdf_property: 'cv:aboutPerson'}}</p>
      </div>
      <br class="horizontal-separator" />
      <div class="members-projects links">
        <h3>Research Groups</h3>
        <div class="partnersOfProject">
          {% capture personName %}{{ page.rdf | rdf_property: 'foaf:name' }}{% endcapture %}
          {% capture query %} SELECT ?group ?groupName ?groupImage ?member ?memberName WHERE { ?group a aiiso:ResearchGroup . ?group rdfs:label ?groupName . ?group sda:imageclass ?groupImage . ?group foaf:member ?member . ?member foaf:name ?memberName . }  {% endcapture %}{% assign groups = page.rdf | sparql_query: query %}

          {% for group in groups %}
            {% capture groupMemeberName %}{{group.memberName}}{% endcapture %}
            {% assign url= group.group | remove: "http://sda.tech/" %}
            {% if personName == groupMemeberName %}
              <div class="chip">
                <!-- <i class="{{result.img}}" width="96" height="96"></i> -->
                <i class="{{group.groupImage}} margin-icon"></i>
                <a href="../../{{url}}">{{group.groupName}}</a>
              </div>
            {% endif %}
          {% endfor %}


        </div>
        <br class="horizontal-separator2" />
        <br class="horizontal-separator2" />
        <h3>Projects</h3>
        <div class="membersofProject">
          {% capture query %} SELECT ?project ?projectname ?image WHERE{
          <{{page.rdf}}> foaf:currentProject ?project . ?project rdfs:label ?projectname . ?project foaf:depiction ?image . } {% endcapture %} {% assign resultset2 = page.rdf | sparql_query: query %}
            <!--Displaying all the reseach interests of the person x  -->

            {% for result in resultset2 %} {% assign url= result.project | remove: "http://sda.tech/" %}
            <div class="chip">
              <img src="{{result.image}}" alt="Person" width="96" height="96">
              <a href="../../{{url}}">{{result.projectname}}</a>
            </div>
            {% endfor %}
        </div>
      </div>
      <br class="horizontal-separator2" />
      <h3>Publications</h3>
      <div class="links">
        <!-- Displaying all the publications of the PERSON  -->
       {% capture query %} SELECT ?publication ?title ?date ?publisher ?link  WHERE{
       <{{page.rdf}}> sda:publication ?publication . ?publication dc:title ?title . ?publication dc:date ?date . ?publication dc:publisher ?publisher . ?publication foaf:homepage ?link . } {% endcapture %} {% assign resultset2 = page.rdf | sparql_query: query %}
        {% for result4 in resultset2 %}
        {% include pubEntry.html link=result4.link date=result4.date publisher=result4.publisher title=result4.title  %}
        {% endfor %}
        <br class="horizontal-separator" />
      </div>
    </div>
  </div>
</article>
<br class="horizontal-separator" />
