---
rdf_prefix_path: sda.tech.pref
layout: default
---
{% include toggleCourseTypes.html %}
<article class="post">
  <div class="pagination">
    <div class="course-section">
      <a href="#" id="winter" class="active responsiveTabItem" onclick="activeWinterCourses()"><i class="fa fa-cloud margin-icon" aria-hidden="true"></i>
      Winter Semester 2017/18</a>
      <a href="#" id="summer" class="responsiveTabItem" onclick="activeSummerCourses()"><i class="fa fa-fire margin-icon" aria-hidden="true"></i>
      Summer Semester 2017</a>
      <a href="#" id="old" class="responsiveTabItem" onclick="allOldCourses()"><i class="fa fa-archive margin-icon" aria-hidden="true"></i>
      Old Courses</a>
      <br/>
      <br/>
      <hr/>
      <br class="horizontal-separator2" />
    </div>
    <div class="course-items">
      <div id="winterCourses" style="display:block">
      </div>
      <div id="summerCourses" style="display:none">
        SS
      </div>
      <div id="allCourses" style="display:none">
        AA
      </div>
    </div>
  </div>
</article>
