---
rdf_prefix_path: simpsons.pref
layout: default
---

<script>
  function activeSummerCourses()
  {

  }

  function activeWinterCourses()
  {

  }

  function allOldCourses()
  {

  }
</script>

<article class="post">
  <div class="pagination">
    <div class="course-section">
      <a href="#" id="all" class="active" onclick="activeWinterCourses()"><i class="fa fa-cloud" aria-hidden="true"></i>
      Winter Semester 2017/18</a>
      <a href="#" id="start" class="" onclick="activeSummerCourses()"><i class="fa fa-fire" aria-hidden="true"></i>
      Summer Semester 2017</a>
      <a href="#" id="end" class="" onclick="allOldCourses()"><i class="fa fa-archive" aria-hidden="true"></i>
      Old Courses</a>
      <br/>
      <br/>
      <hr/>
      <br class="horizontal-separator2" />
    </div>
  </div>
</article>
