---
rdf_prefix_path: sda.tech.pref
layout: default
---
{% include toggleThesisTypes.html %}
{% include toggleBachelorThesis.html %}
{% include toggleMasterThesis.html %}

<!--Querry to GET all the Contact Persons of the Thesis   -->
{% capture query %} SELECT  ?thesis ?thesisTitle ?person ?personName ?personImage WHERE{
 ?thesis a dct:BibliographicResource . ?thesis a bibo:Thesis . ?thesis dct:title ?thesisTitle . ?thesis dct:creator ?person . ?person foaf:nick ?personName . ?person foaf:depiction ?personImage . } {% endcapture %} {% assign personsInThesis = page.rdf | sparql_query: query %}
  <!-- Presentation of thesis Items  -->
  <article class="post">
    <div class="pagination">
      <div class="status-thesis">
        <a href="#" id="all" class="active responsiveTabItem" onclick="allThesisItems()"><i class="fa fa-users margin-icon" aria-hidden="true"></i>
          Bachelor Theses</a>
        <a href="#" id="start" class="responsiveTabItem" onclick="activeOpenThesis()"><i class="fa fa-user margin-icon" aria-hidden="true"></i>
          Master Theses</a>
        <a href="#" id="end" class="responsiveTabItem" onclick="activeFinishedThesis()"><i class="fa fa-folder-open margin-icon" aria-hidden="true"></i>
          On Going Theses</a>
        <a href="#" id="faqThesis" class="responsiveTabItem" onclick="faqThesisToggle()"><i class="fa fa-question-circle" aria-hidden="true"></i>
          FAQ</a>
        <br/>
        <br/>
        <hr/>
      </div>
    </div>
        <div class="thesis-items content-people">
          <br class="horizontal-separator" />
          <div id="allThesis" style="display:block">
            <div class="toggleOpenArchived" >
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round" onclick="switchBachelorThesis();"></span>
              </label>
            </div>
            <br/><br/>
            <div id="openBachelorsTheses" style="display:block">
              <!--QUERY for open Bachelor Thesis  -->
              {% capture query %} SELECT  ?thesis ?thesisTitle ?language ?link ?abstract WHERE{
               ?thesis a dct:BibliographicResource . ?thesis a bibo:Thesis . ?thesis a sdatech:openThesis . ?thesis a sdatech:bachelorThesis .  ?thesis dct:title ?thesisTitle . ?thesis dct:abstract ?abstract . ?thesis dct:language ?language . ?thesis foaf:homepage ?link . } {% endcapture %} {% assign openBachelorsThesis = page.rdf | sparql_query: query %}
               <!-- QUERY for Contact People in Bachelor Thesis  -->
              {% include thesisItem.html %}
              {{personsInThesis}}
              {% for p in personsInThesis %}
                {{p.personName}}
                {{p.thesisTitle}}
              {% endfor %}
            </div>
            <div id="archivedBachelorThesis" style="display:none">
              <!--QUERY for archived Bachelor Thesis  -->
              {% capture query %} SELECT  ?thesis ?thesisTitle ?language ?link ?abstract WHERE{
               ?thesis a dct:BibliographicResource . ?thesis a bibo:Thesis . ?thesis a sdatech:archivedThesis . ?thesis a sdatech:bachelorThesis . ?thesis dct:title ?thesisTitle . ?thesis dct:abstract ?abstract . ?thesis dct:language ?language . ?thesis foaf:homepage ?link . } {% endcapture %} {% assign openBachelorsThesis = page.rdf | sparql_query: query %}

            </div>
          </div>
          <div id="openThesis" style="display:none">
            <div class="toggleOpenArchived" >
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round" onclick="switchMasterThesis();"></span>
              </label>
            </div>
            <br/><br/>
            <div id="openMasterTheses">
              <!--QUERY for open Master Thesis  -->
              {% capture query %} SELECT  ?thesis ?thesisTitle ?language ?link ?abstract WHERE{
               ?thesis a dct:BibliographicResource . ?thesis a bibo:Thesis . ?thesis a sdatech:openThesis . ?thesis a sdatech:masterThesis . ?thesis dct:title ?thesisTitle . ?thesis dct:abstract ?abstract . ?thesis dct:language ?language . ?thesis foaf:homepage ?link . } {% endcapture %} {% assign openBachelorsThesis = page.rdf | sparql_query: query %}

            </div>
            <div id="archivedMasterThesis">
              <!--QUERY for archived Master Thesis  -->
              {% capture query %} SELECT  ?thesis ?thesisTitle ?language ?link ?abstract WHERE{
               ?thesis a dct:BibliographicResource . ?thesis a bibo:Thesis . ?thesis a sdatech:archivedThesis . ?thesis a sdatech:masterThesis . ?thesis dct:title ?thesisTitle . ?thesis dct:abstract ?abstract . ?thesis dct:language ?language . ?thesis foaf:homepage ?link . } {% endcapture %} {% assign openBachelorsThesis = page.rdf | sparql_query: query %}

            </div>
          </div>
          <div id="finishedThesis" style="display:none">
              <!-- QUERY for OnGoingThesis  -->
              {% capture query %} SELECT  ?thesis ?thesisTitle ?language ?link ?abstract WHERE{
               ?thesis a dct:BibliographicResource . ?thesis a bibo:Thesis . ?thesis a sdatech:archivedThesis . ?thesis a sdatech:masterThesis . ?thesis dct:title ?thesisTitle . ?thesis dct:abstract ?abstract . ?thesis dct:language ?language . ?thesis foaf:homepage ?link . } {% endcapture %} {% assign openBachelorsThesis = page.rdf | sparql_query: query %}

          </div>
          <div id="faqThesisContent" style="display:none">
          </div>
        </div>
        <br class="horizontal-separator2" />
  </article>
