<div class="sdadas">
  <div class="card cardGroup">
    <div class="container">
      <br/>
      <h2><i class="fa fa-bar-chart"></i> Distributed Semantic Analysis</h2>
      <p>The research group develops scalable analytics algorithms based on Apache Spark and Apache Flink for analyzing large scale datasets by distributing the computational tasks in memory.</p>
    </div>
    <br/>
    <article class="post">
      <div class="group-Members">
        <div class="person-project">
          <img class="img-circle" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-steve-mcqueen.jpg">
          <h5>Selena Gomez</h5>
        </div>
      </div>
      <div class="group-partners">
        <div class="person-project">
          <img class="img-circle" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-steve-mcqueen.jpg">
          <h5>Selena Gomez</h5>
        </div>
      </div>
    </article>
  </div>
</div>
