<h2 style="text-align:center;"><i class="fa fa-user"></i> {{site.data.jobTypes[3].name}}</h2>
<br class="horizontal-separator" />
<div class="shortDescJob">
  <p>{{site.data.jobTypes[3].description}}</p>
</div>
<br class="horizontal-separator" />
<div class="requirementsJob">
  <h3>Requirements</h3>
  <ul class="reuirementsList">
    <li>Proficiency in spoken and written English.</li>
  </ul>
</div>
<br class="horizontal-separator" />
<div class="experienceJob">
  <h3>Interest in “one of” (not necessarily more) the following areas:</h3>
  <ul>
    <li>Big Data, Machine Learning, Data Mining</li>
    <li>Semantic Technologies and Linked Data</li>
    <li>Geo spatial data modeling and analysis</li>
    <li>Natural language processing, in particular Question Answering</li>
  </ul>
</div>
<br class="horizontal-separator" />
<div class="offerJob">
  <h3>We offer:</h3>
  <ul>
    <li>You will be able to efficiently work towards your doctorate in a group of excellent scientists.</li>
    <li>You will work at one of the leading [1] German Universities.</li>
    <li>You will enjoy a close collaboration with Fraunhofer IAIS [2] as a leading research institute for large scale machine learning and data mining.</li>
    <li>The payment will be according to the standard payment scale for student assistants.</li>
  </ul>
</div>
<br class="horitzontal-separator" />
<div class="applicationProcess">
  <p>To apply, please send a mail to <a class="jobRef" href="mailto:SDA-applications@lists.iai.uni-bonn.de"  target="_top">SDA Applications</a> including a CV, a master certificate, a motivation letter including a short overview of previous research activities, two letters of recommendation and a writing sample (e.g. prior publication or master thesis excerpt). Applications are possible until all positions have been filled. Please do not send mails larger than 10MB.</p>
</div>
<br class="horizontal-separator">
<div class="equalJobOpp">
  <h3>The University of Bonn is an equal opportunities employer.</h3>
  <ul>
    <li><a class="jobRef" href="https://en.wikipedia.org/wiki/University_of_Bonn#Ranking" target="_blank">https://en.wikipedia.org/wiki/University_of_Bonn#Ranking</a></li>
    <li><a class="jobRef" href="{{site.fraunhoferHomePage}}" target="_blank">{{site.fraunhoferHomePage}}</a></li>
  </ul>
</div>
