<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>{{include.name}}</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>

<!-- <div class="humans">
  <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Grey">
          <h2>
              <span>Rugter Hauer</span>
              <strong>
                  <i class="fa fa-fw fa-star"></i>
                  Blade Runner
              </strong>
          </h2>
          <div class="mc-content">
              <div class="img-container">
                  <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-rugter-hauer.jpg">
              </div>
              <div class="mc-description">
                  Blonde, blue-eyed, tall and handsome Dutch actor Rutger Hauer has an international reputation for playing everything from romantic leads to action heroes to sinister villains. Hauer was born in Breukelen, a town in the province ...
              </div>
          </div>
          <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
          </a>
          <div class="mc-footer">
              <h4>
                  Social
              </h4>
              <a class="fa fa-fw fa-facebook"></a>
              <a class="fa fa-fw fa-twitter"></a>
              <a class="fa fa-fw fa-linkedin"></a>
              <a class="fa fa-fw fa-google-plus"></a>
          </div>
      </article>
  </div> -->
